@import '~material-icons/iconfont/material-icons.css';

$background-color: #dadada;
$buttons-color: #242582;
$main-color: #2f2fa2;
$base-color: #99738e;

.modalOpen{
    position: fixed;
    width: 50vw;
    /* height: 140px; */
    top: 50px;
    left: 50%;
    //margin-top: -70px;
    margin-left: -25vw;
    background-color: #04041b;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px 50px;
    color: white;
    z-index: 10000;
    border-radius: 10px;
    justify-content: center;
}

.inputContainer{
    position: relative;
    i{
        position: absolute;
        right: 8px;
        top: 5px;
        font-size: 21px;
        color: lightgray;
    }
}


.inputSearch{
    border: 1px solid lightgray;
    padding: 3px 8px;
    font-size: 14px;
    border-radius: 4px;
}

.card{
    min-width: 25% !important;
    margin: 12px;
}

.none{
    display: none !important
}


.ProductList {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -8px;
}

.ProductList__Element {
    padding: 25px;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .ProductList__Element {
        width: 50%;
    }
}

.ProductCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background: white;
    border-radius: 10px;
    height: 100%;
}

.ProductCard__Photo {
    flex-shrink: 0;
    flex-grow: 0;
    align-self: center;
    padding-left: 10px;
    width: 184px;
    height: 156px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}
.ProductCard__Img {
    max-width: 100%;
    max-height: 100%;
}

.ProductCard__Content {
    padding: 16px;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ProductCard__Title {
    word-break: break-word;
    font-size: 22px;
    line-height: 28px;
    color: var(--black);
    margin-bottom: 16px;
}

.ProductCard__Title:hover, .ProductCard__Title:focus, .ProductCard__Title:active {
    color: var(--black);
}

.ProductCard__BottomWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.ProductCard__DescriptionCol {
    align-self: flex-start;
    padding-right: 8px;
    font-size: 14px;
    line-height: 16px;
    color: var(--dark-gray);
}

.ProductCard__ActionsCol {
    text-align: right;
    padding-left: 8px;
}

.ProductCard__Price {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 16px;
}

@media screen and (min-width: 576px) {
    .ProductCard {
        flex-direction: row;
        align-items: flex-start;
    }
}

.Container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 576px) {
    .Container {
        padding-left: 0;
        padding-right: 0;
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .Container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .Container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .Container {
        max-width: 1140px;
    }
}

.ProductCard__Button{
    color: #fff;
    background-color: $buttons-color;
    border: none;
    font-size: 14px;
    padding: 7px 14px;
    border-radius: 4px;
    //margin-top: 16px;
    span{
        display: flex;
        align-items: center;
    }
    i{
        font-size: 16px;
        padding-left: 10px;
    }
}

.ProductCard__Button:disabled
{
    opacity: 0.5;
}

.ProductCard__Counter{
    background-color: transparent;
    border: none;
    i{
        font-size: 20px;
    }
}

.card-title{
    color: #212529;
    margin-bottom: 0 !important;
}

.navbar{
    background-color: white;
    box-shadow: 0 0 4px gray;
}

.navbar__Cart{
    height: 32px;
    display: flex;
    align-items: center;
    i{
        color: #212529;
        font-size: 32px;
    }
}

a:hover {
    color: transparent !important;
}

.navbar__Counter{
    color: #212529;
    font-weight: 600;
}

.modalClose{
    opacity: 0;
    transition: opacity 1s;
}

.cartImg{
    height: 100px;
}

.cartTable{
    background-color: white;
    margin-top: 40px;
}

.cartTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  
  .cartTable th,
  .cartTable td {
    padding: .625em;
    text-align: center;
    vertical-align: middle !important;
  }
  
  .cartTable th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 1000px) {
    .cartTable {
      border: 0;
    }
  
    .cartTable caption {
      font-size: 1.3em;
    }
    
    .cartTable thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .cartTable tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .cartTable td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .cartTable td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .cartTable td:last-child {
      border-bottom: 0;
    }
  }

  .cartSum{
    font-size: 25px;
    text-align: right;
  }

  .ProductDetails {
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 32px;
    margin-top: 40px;
}

.ProductDetails__PhotoCol {
    padding: 16px;
    width: 100%;
}

.ProductDetails__DetailsCol {
    padding: 16px;
    width: 100%;
}

.ProductDetails__Photo {
    width: 100%;
    text-align: center;
}

.ProductDetails__Img {
    max-width: 100%;
    max-height: 100%;
}

.ProductDetails__Description {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 14px;
}

.ProductCard__Price
{
    font-weight: 600;
    font-size: 18px;
}

@media screen and (min-width: 992px) {
    .ProductDetails {
        flex-direction: row;
    }

    .ProductDetails__PhotoCol {
        width: 40%;
    }

    .ProductDetails__DetailsCol {
        padding: 16px;
        width: 60%;
    }

    .inputSearch{
        width: 400px;
    }

    .inputContainer{
        margin-right: 150px;
    }
}

.ProductCard_Description{
    font-size: 14px;
    margin-bottom: 10px;
}


.ProductCard_Price
{
    font-weight: 600;
    margin-bottom: 5px;
}

.star-ratings{
    margin: 5px 0px;
}

.defaultPage{
    font-size: 20px;
    background: white;
    border-radius: 10px;
    padding: 40px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}